/*TEMPORARY STYLING*/
.black{
  background: black;
  color:#FFF;}

/*.column, .columns {
  border: 1px solid red;}*/

body{
  background-color:#FFF;}

/*DIV STYLING*/

.clear-padding{
  padding:0;}


/*INDIVIDUAL STYLING*/

p{margin-bottom:0;
  font-family:'cooper_hewittbook';
  font-size:11pt;
  line-height: 21pt;}

footer{text-align: center;
  background:#3a3a3a;
  color:#FFF;
  padding:10px 0px;
}

.the-passion{
  margin-top:-185px;}

.project-info{
  position:relative;}

h2{margin:50px 0px;
  font-family:'cooper_hewittsemibold';
  text-transform:lowercase;
  font-size:40pt;
  color:#f1475e;}

h2:before{content: url('img/slash.svg');
  position:relative;
  top:-2px;
  margin-right:-12px;}

.project-info h3{color:#FFF;
  padding:8% 8% 3% 8%;
  font-family:'cooper_hewittlight';
  font-size:25pt;
  margin: 0;}

h4{padding:3% 8% 8% 8%;   
  font-family:'cooper_hewittsemibold';
  text-transform: uppercase;
  font-size: 14pt;
  color:#FFF;}

h5{font-family:'cooper_hewittsemibold';
  text-transform: uppercase;
  font-size: 14pt;
  color:#f1475e;
  margin: 0;}

h6{font-family: 'cooper_hewittsemibold_italic';
  font-size: 15pt;
  color:#3a3a3a;
  margin: 0;
  display:inline;
  line-height: 30pt;}

#inline-text{display:inline;
  font-size: 14pt;}

#project-header:before{content: none;}


#project-header{font-family:'cooper_hewittlight';
  font-size:35pt;
  color:#10838c;
  text-transform: none;
  padding:50px 0px;}

#project-header hr{width:100%;
  margin-top:35px;}

#project-header img{width:20%;
  z-index: 1;}


hr{background-color:#f1475e;
  height: 2px;
  display: block;
  border: 0;
  width: 84%;
  margin: 0 auto;}

.project-info a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10838c;
  background-image: url(http://media.dallas.city.cx/sites/70/2014-02/c398MnNN-1170x783.jpg);
  background-blend-mode: multiply;
  color: #FFF;
  visibility: hidden;
  text-decoration: none;
  transition: all 0.05s ease-in-out;}

.project-info-center{position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);}

.project-img{
  margin-top:100px;}

.project-info:hover a{
  visibility: visible;}

.large-6 textarea{
  height:200px;}


#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 13.755em;
  right: -13.755em;
  height: 100%;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;}

#menu ul{
  list-style-type: none;}

 #menu.active {
  -webkit-transform: translate(-13.755em, 0px);
  -moz-transform: translate(-13.755em, 0px);
  -o-transform: translate(-13.755em, 0px);
  -ms-transform: translate(-13.755em, 0px);
  transform: translate(-13.755em, 0px);}

.container {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;}

.container.active {
  -webkit-transform: translate(-13.725em, 0px);
  -moz-transform: translate(-13.725em, 0px);
  -o-transform: translate(-13.725em, 0px);
  -ms-transform: translate(-13.725em, 0px);
  transform: translate(-13.725em, 0px);}

.menu-link {
  position: absolute;
  top: 15px;
  left: -50px;}

.menu-link img{width:10%;}

#menu a:visited{
  color:blue;}

#menu a{
  color:green;}

#menu a:hover{
  color:red;}

nav#menu{
  z-index: 1000;}

#menu li img{padding:20px;}

.project-nav{margin-bottom:20px;}


input[type="text"], textarea{border-radius: 5px;
  border-color: #10838c;
  border-width: 3px;
  box-shadow: none;}

.button{border-top: solid 3px #f1475e;
  border-bottom: solid 3px #f1475e;
  background-color: transparent;}

.button h5{padding-bottom: 0;}

a.button:hover{color:none;
  border-color:none;}


/*MEDIA QUERIES*/
@media only screen and (max-width: 40em) {

  .project-img{
    padding:0;}


  .the-passion{
  margin-top:75px;}

  .contact-form{margin:50px 0px 0px 0px;}

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .project-img{
    padding:0;}

  }




